# Rename to .env file to use with docker-compose-*.yml

# Web server working directory root
# default: $HOME/zabbix
WEB_ROOT_DIR=${HOME}/zabbix

# Web server, php-fpm logs directory
# default: $HOME/zabbix/log
LOG_ROOT_DIR=${HOME}/zabbix/log
